@font-face {
    font-family: Unbounded;
    src: url('../fonts/Unbounded-Blond.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Unbounded;
    src: url('../fonts/Unbounded-Bold.ttf');
    font-weight: 600;
}

body {
    margin: 0;
    background-image: url('../img/back.png');
    background-size: cover;
    font-family: 'Unbounded';
    color: #fff;
    background-repeat: no-repeat;
    height: 100vh;
}

form {
    width: 100%;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    height: 100vh;
    margin: auto;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.head {
    display: flex;
    flex-direction: column;
}

.title {
    margin: auto;
    max-width: 1200px;
    width: 90%;
}

.subtitle {
    text-align: center;
    font-size: 30px;
}

.form_block {
    display: flex;
    background: #1B1622;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0;
}

.form_input {
    width: 90%;
    max-width: 600px;
    height: 60px;
    padding-left: 5px;
    background: #D9D9D9;
    color: #000;
    font-family: 'Unbounded';
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 10px;
}

.btn {
    width: 50%;
    max-width: 620px;
    /* Rectangle 833 */
    height: 48px;
    background: linear-gradient(90deg, #C766EF 0%, #7928D2 50%, #2B0C52 100%);
    border-radius: 35px;
    border: none;
    margin: auto;
    font-family: 'Unbounded';
    font-size: 20px;
    color: #fff;
}

.subtext {
    margin-top: 20px;
    color: #64A9F2;
    font-size: 22px;
    text-align: center;
}
